BusinessModule/BaseLogic/FileStore.Logic/Web References/FileService/InnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFileBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileFullPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileBytesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhysicalFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileFullPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhysicalFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExistFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileFullPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileBytesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileBytes" />
  </wsdl:message>
  <wsdl:message name="GetFileBytesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileBytesResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePhysicalFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePhysicalFile" />
  </wsdl:message>
  <wsdl:message name="DeletePhysicalFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePhysicalFileResponse" />
  </wsdl:message>
  <wsdl:message name="ExistFileSoapIn">
    <wsdl:part name="parameters" element="tns:ExistFile" />
  </wsdl:message>
  <wsdl:message name="ExistFileSoapOut">
    <wsdl:part name="parameters" element="tns:ExistFileResponse" />
  </wsdl:message>
  <wsdl:portType name="InnerServiceSoap">
    <wsdl:operation name="GetFileBytes">
      <wsdl:input message="tns:GetFileBytesSoapIn" />
      <wsdl:output message="tns:GetFileBytesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhysicalFile">
      <wsdl:input message="tns:DeletePhysicalFileSoapIn" />
      <wsdl:output message="tns:DeletePhysicalFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistFile">
      <wsdl:input message="tns:ExistFileSoapIn" />
      <wsdl:output message="tns:ExistFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InnerServiceSoap" type="tns:InnerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileBytes">
      <soap:operation soapAction="http://tempuri.org/GetFileBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhysicalFile">
      <soap:operation soapAction="http://tempuri.org/DeletePhysicalFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistFile">
      <soap:operation soapAction="http://tempuri.org/ExistFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InnerServiceSoap12" type="tns:InnerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileBytes">
      <soap12:operation soapAction="http://tempuri.org/GetFileBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhysicalFile">
      <soap12:operation soapAction="http://tempuri.org/DeletePhysicalFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistFile">
      <soap12:operation soapAction="http://tempuri.org/ExistFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InnerService">
    <wsdl:port name="InnerServiceSoap" binding="tns:InnerServiceSoap">
      <soap:address location="http://localhost:8054/FileStore/Services/InnerService.asmx" />
    </wsdl:port>
    <wsdl:port name="InnerServiceSoap12" binding="tns:InnerServiceSoap12">
      <soap12:address location="http://localhost:8054/FileStore/Services/InnerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>