WebApp/MvcConfig/Web References/FileService/OuterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LocalizeFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocalizeFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalizeFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileFullPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileFullPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileFullPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="src" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CopyFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFileByRelateId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFileByRelateIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelFileByRelateIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OverwriteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="src" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OverwriteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OverwriteFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelFilesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileNamesByRelateId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileNamesByRelateIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileNamesByRelateIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="src" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppendFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppendFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppendFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileSizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileBytesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LocalizeFileSoapIn">
    <wsdl:part name="parameters" element="tns:LocalizeFile" />
  </wsdl:message>
  <wsdl:message name="LocalizeFileSoapOut">
    <wsdl:part name="parameters" element="tns:LocalizeFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileFullPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileFullPath" />
  </wsdl:message>
  <wsdl:message name="GetFileFullPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileFullPathResponse" />
  </wsdl:message>
  <wsdl:message name="CopyFileSoapIn">
    <wsdl:part name="parameters" element="tns:CopyFile" />
  </wsdl:message>
  <wsdl:message name="CopyFileSoapOut">
    <wsdl:part name="parameters" element="tns:CopyFileResponse" />
  </wsdl:message>
  <wsdl:message name="DelFileByRelateIdSoapIn">
    <wsdl:part name="parameters" element="tns:DelFileByRelateId" />
  </wsdl:message>
  <wsdl:message name="DelFileByRelateIdSoapOut">
    <wsdl:part name="parameters" element="tns:DelFileByRelateIdResponse" />
  </wsdl:message>
  <wsdl:message name="OverwriteFileSoapIn">
    <wsdl:part name="parameters" element="tns:OverwriteFile" />
  </wsdl:message>
  <wsdl:message name="OverwriteFileSoapOut">
    <wsdl:part name="parameters" element="tns:OverwriteFileResponse" />
  </wsdl:message>
  <wsdl:message name="DelFilesSoapIn">
    <wsdl:part name="parameters" element="tns:DelFiles" />
  </wsdl:message>
  <wsdl:message name="DelFilesSoapOut">
    <wsdl:part name="parameters" element="tns:DelFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileNamesByRelateIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileNamesByRelateId" />
  </wsdl:message>
  <wsdl:message name="GetFileNamesByRelateIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileNamesByRelateIdResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFile" />
  </wsdl:message>
  <wsdl:message name="SaveFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFileResponse" />
  </wsdl:message>
  <wsdl:message name="AppendFileSoapIn">
    <wsdl:part name="parameters" element="tns:AppendFile" />
  </wsdl:message>
  <wsdl:message name="AppendFileSoapOut">
    <wsdl:part name="parameters" element="tns:AppendFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileBytesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileBytes" />
  </wsdl:message>
  <wsdl:message name="GetFileBytesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileBytesResponse" />
  </wsdl:message>
  <wsdl:portType name="OuterServiceSoap">
    <wsdl:operation name="LocalizeFile">
      <wsdl:input message="tns:LocalizeFileSoapIn" />
      <wsdl:output message="tns:LocalizeFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileFullPath">
      <wsdl:input message="tns:GetFileFullPathSoapIn" />
      <wsdl:output message="tns:GetFileFullPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyFile">
      <wsdl:input message="tns:CopyFileSoapIn" />
      <wsdl:output message="tns:CopyFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelFileByRelateId">
      <wsdl:input message="tns:DelFileByRelateIdSoapIn" />
      <wsdl:output message="tns:DelFileByRelateIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OverwriteFile">
      <wsdl:input message="tns:OverwriteFileSoapIn" />
      <wsdl:output message="tns:OverwriteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelFiles">
      <wsdl:input message="tns:DelFilesSoapIn" />
      <wsdl:output message="tns:DelFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileNamesByRelateId">
      <wsdl:input message="tns:GetFileNamesByRelateIdSoapIn" />
      <wsdl:output message="tns:GetFileNamesByRelateIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <wsdl:input message="tns:SaveFileSoapIn" />
      <wsdl:output message="tns:SaveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppendFile">
      <wsdl:input message="tns:AppendFileSoapIn" />
      <wsdl:output message="tns:AppendFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <wsdl:input message="tns:GetFileSizeSoapIn" />
      <wsdl:output message="tns:GetFileSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <wsdl:input message="tns:GetFileBytesSoapIn" />
      <wsdl:output message="tns:GetFileBytesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OuterServiceSoap" type="tns:OuterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocalizeFile">
      <soap:operation soapAction="http://tempuri.org/LocalizeFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFullPath">
      <soap:operation soapAction="http://tempuri.org/GetFileFullPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFile">
      <soap:operation soapAction="http://tempuri.org/CopyFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFileByRelateId">
      <soap:operation soapAction="http://tempuri.org/DelFileByRelateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverwriteFile">
      <soap:operation soapAction="http://tempuri.org/OverwriteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFiles">
      <soap:operation soapAction="http://tempuri.org/DelFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileNamesByRelateId">
      <soap:operation soapAction="http://tempuri.org/GetFileNamesByRelateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <soap:operation soapAction="http://tempuri.org/SaveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendFile">
      <soap:operation soapAction="http://tempuri.org/AppendFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://tempuri.org/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <soap:operation soapAction="http://tempuri.org/GetFileBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OuterServiceSoap12" type="tns:OuterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocalizeFile">
      <soap12:operation soapAction="http://tempuri.org/LocalizeFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFullPath">
      <soap12:operation soapAction="http://tempuri.org/GetFileFullPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFile">
      <soap12:operation soapAction="http://tempuri.org/CopyFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFileByRelateId">
      <soap12:operation soapAction="http://tempuri.org/DelFileByRelateId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverwriteFile">
      <soap12:operation soapAction="http://tempuri.org/OverwriteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFiles">
      <soap12:operation soapAction="http://tempuri.org/DelFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileNamesByRelateId">
      <soap12:operation soapAction="http://tempuri.org/GetFileNamesByRelateId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <soap12:operation soapAction="http://tempuri.org/SaveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendFile">
      <soap12:operation soapAction="http://tempuri.org/AppendFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://tempuri.org/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <soap12:operation soapAction="http://tempuri.org/GetFileBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OuterService">
    <wsdl:port name="OuterServiceSoap" binding="tns:OuterServiceSoap">
      <soap:address location="http://localhost:8053/FileStore/Services/OuterService.asmx" />
    </wsdl:port>
    <wsdl:port name="OuterServiceSoap12" binding="tns:OuterServiceSoap12">
      <soap12:address location="http://localhost:8053/FileStore/Services/OuterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>